@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+PL:wght@100..400&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');@import url("https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background: #FAACA8;
  background: linear-gradient(to right, #DDD6F3 0%, #ffffff 30%, #ffffff 70%, #ddd6f3 100%)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  align-content: center;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

nav ul {
  display: inline-block;
}

nav ul li {
  margin-right: 100px;
  font-weight: 500;
}

nav ul li:hover {
  color: #683ac4;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo img {
  padding-top: 10px;
  padding-bottom: 20px;
}

button {
  background-color: #FFF;
  background-image: linear-gradient(225deg, rgba(255, 60, 172, .7) 0%, rgba(120, 75, 160, .7) 50%, rgba(43, 134, 197, .7) 100%);
  border: 1px solid #683ac4;
  color: #fff;
  padding: 10px 15px;
  max-width: 200px;
  border-radius: 50px;
  font-size: 15px;
}

button:hover {
  background-image: linear-gradient(225deg, rgba(255, 60, 172, .55) 0%, rgba(120, 75, 160, .55) 50%, rgba(43, 134, 197, .55) 100%);
  cursor: pointer;
}

button.danger {
  background-color: #c71c00;
  background-image: linear-gradient(225deg, #c71c00 0%, #871f00 50%, #aa0004 100%);
  border: 1px solid #871f00 !important;
  color: #fff;
}
button.danger:hover {
  background-image: linear-gradient(225deg, rgba(199, 28, 0, .5) 0%, rgba(135, 31, 0, .5) 50%, rgba(199, 28, 0, .5) 100%);
  cursor: pointer;
}

button.warning {
  background-color: #fff9a6;
  background-image: linear-gradient(225deg, #faad84 0%, #ff8000 50%, #faad84 100%);
  border: 1px solid #ff8000 !important;
  color: #fff;
}
button.warning:hover {
  background-image: linear-gradient(225deg, rgb(250, 173, 132, .55) 0%, rgba(255, 128, 0, .55) 50%, rgb(250, 173, 132, .55) 100%);
  cursor: pointer;
}

button.confirm {
  background-color: #a1ff84;
  background-image: linear-gradient(225deg, #65da45 0%, #0cb004 50%, #65da45 100%);
  border: 1px solid #088a00 !important;
  color: #fff;
}
button.confirm:hover {
  background-image: linear-gradient(225deg, rgba(101, 218, 69, .55) 0%, rgba(12, 176, 4, .55) 50%, rgba(101, 218, 69, .55) 100%);
  cursor: pointer;
}

input {
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  max-width: 86%;
  margin-left: 10px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 150px;
  gap: 100px;
  text-align: center;
  /* background-image: url("/d424test/hero.png"); */
  background-image: url("/hero.png");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: -10% 25%;
  height: 100vh;
}

.hero h1 {
  font-size: 5rem;
  text-wrap: none;
  line-height: 1;
  font-family: "Playwrite PL", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: italic;
}

.hero p {
  color: #8f8d8d;
}

.hero-copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  border: 2px solid #dddddd;
  border-radius: 50px;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}

.search-form input {
  border: none;
  width: 100%;
  padding: 5px 10px;

}

/* RECIPE */
.recipe-card.active {
  width: 60%;
  margin-top: 50px;
}

.recipe {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
  padding: 30px 0;
}

.recipe form {
  width: 100%;
}

.recipe img {
  width: 200px;
  border-radius: 15px;
  border: 1px solid #cecece;
  margin-right: 20px;
}

/* RECIPE CARD REPORT */
.recipe-title {
  font-size: 30px;
  padding: 70px 40px 50px;
  text-align: center;
}
.recipe-card {
  width: 50%;
  border: 2px solid #cecece;
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: rgba(229, 7, 210, 0.35) 0 5px 15px;
  margin: 0 auto 50px;
  background: #FFF;
}

.recipe-card button:not(:first-child) {
  margin-left: 10px;
}

.recipes {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 30px 0;
}

.recipes:not(:first-child) {
  border-top: 1px solid #d3d3d3;
}

.recipes img {
  display: block;
  margin-left: auto;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  border: 1px solid #cecece;
}

.recipes p:first-child {
  font-size: 25px;
  margin-bottom: 10px;
}
.recipes p,
.recipes div {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
.recipes ul {
  display: flex;
  flex-direction: column;
  padding: 5px 20px 10px;
}
.recipes span {
  font-weight: normal;
  letter-spacing: normal;
}

.recipes-search {
  position: absolute;
  top: 120%;
  left: 10px;
  border: 2px solid #cecece;
  border-radius: 10px;
  width: 90%;
}
.recipes-search p {
  width: 100%;
  text-align: left;
  padding: 10px;
}
.recipes-search p:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}
.recipes-search p:nth-child(even) {
  background-color: #f3f3f3;
}
.recipes-search p:hover {
  background-color: rgba(144, 94, 185, 0.7);
  color: #fff;
}

/* ADD RECIPE */
.add-recipe-title {
  font-size: 30px;
  padding: 40px 40px 0;
  text-align: center;
}

.add-recipe-form {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
  padding: 40px 40px 0;
}
.add-recipe-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  margin-top: 50px;
}
.add-recipe-form input {
  width: 300px;
  padding: 10px;
  border-radius: 12px;
}

.banner-message {
  width: 300px;
  padding: 15px 0;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  margin: 0 auto;
}

.banner-message.success {
  background-color: #32c732;
}
.banner-message.danger {
  background-color: #ff0000;
}

.form-container {
  max-width: 5px;
  margin: auto;
}